// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary-components-color: rgb(204, 168, 168);
$action-color: #FFA726;
$action-block-font-color: #fff;
$nav-color: #e1d0e5;
$nav-active-color: #841388;

